{% extends "users/base.html" %}
{% block content %}
<h3>Đổi mật khẩu:</h3>
    <form method="POST" action="{% url 'users:change_password' %}">
        {% csrf_token %}        
        {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors|striptags }}
        </div>
        {% endif %}
        {% if error_message %}
        <div>
            {{ error_message }}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
        <div>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Đổi mật khẩu</button>
    </form>
{% endblock co

{% endblock %}