<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>Xin chào {{ fullname }},</div>
    <p>Bạn vui lòng nhấp vào link bên dưới để reset mật khẩu:</p>
    <a target="_blank" href="{{ verify_link }}">{{ verify_link }}</a>
    <p style="font-style: oblique;">Lưu ý: Link xác nhận có giá trị sử dụng trong vòng một ngày.</p>
    <br>
    <div>-----------------------------------</div>
    <div>Mọi thông tin liên hệ xin vui lòng gửi tin nhắn cho BTC theo link: <a target="_blank" href="http://m.me/SG.YouthDay">http://m.me/SG.YouthDay</a></div>   
</body>
</html>