<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>Xin chào {{ fullname }},</div>
    <div>Cảm ơn bạn đã đăng ký tham dự Đại hội Giới trẻ TGP Sài Gòn ngày 19.11.2022.</div>
    <p>BTC gửi đến bạn [name] thông tin về chương trình như sau:</p>
    <strong>I. THÔNG TIN CHƯƠNG TRÌNH:</strong>
    <p>1. Đại hội giới trẻ năm 2022 với chủ đề: EXODUS - CÙNG NHAU LÊN ĐƯỜNG </p>
    <p>2. Thời gian: Ngày 19/11/2022. (Từ 13g30 đến 21g00)</p>
    <p>3. Địa điểm: Nhà thờ Đồng Tiến (54 Thành Thái, p.12, quận 10, Tp. Hồ Chí Minh)</p>
    <strong>II. PHƯƠNG THỨC THANH TOÁN:</strong>
    <p>Tên tài khoản: NGUYEN HUU ĐAI</p>
    <p>Ngân hàng ACB: 131218939 (Chi nhánh Bắc Hải)</p>
    <p>Lưu ý: Trong nội dung chuyển khoản xin vui lòng ghi rõ <strong style="color: red;">{{ username }} +  vé thường [số lượng vé], Vé workshop + [số lượng vé].</strong></p>
    <p>Chi phí các loại vé:</p>
    <ul>
        <li>Vé thường không có workshop: 40.000 VNĐ</li>
        <li>Vé có workshop: 70.000 VNĐ</li>
    </ul>
    <p>Voucher vé tham dự Đại hội và Workshop sẽ được cập nhật vào tài khoản của bạn chậm nhất trong vòng 24 giờ.</p>
    <br>
    <p>-----------------------------------</p>
    <p>Mọi thông tin liên hệ xin vui lòng gửi tin nhắn cho BTC theo link: <a target="_blank" href="http://m.me/SG.YouthDay">http://m.me/SG.YouthDay</a></p>
    <p>Hotline: 0933 20 24 27</p>
    <p>Hẹn gặp lại bạn tại Đại hội Giới trẻ TGP Sài Gòn ngày 19.11.2022</p>
</body>
</html>