{% extends 'users/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<section class="vh-100" style="background-image: url('/static/images/hero_1.png');">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">{% trans 'Đăng nhập' %}</h3>
                        <form method="POST" , action="{% url 'users:login' %}">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success'%}
                                        <p class="text-success">{{ message }}</p>
                                    {% else %}
                                        <p class="text-danger">{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="form-floating mb-4">                               
                                <input class="form-control" type="text" name="username" id="username" placeholder="{% trans 'Tài khoản' %}"/>   
                                <label for="username">{% trans 'Tài khoản' %}</label>                           
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" id="password" name="password" class="form-control" placeholder="{% trans 'Mật khẩu' %}" />
                                <label for="password">{% trans 'Mật khẩu' %}</label>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans 'Đăng nhập' %}</button>                      
                        </form>
                        <hr class="my-4">
                        <a href="{% url 'users:register' %}">{% trans 'Chưa có tài khoản? Đăng ký' %}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}