<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Xin chào {{ fullname }}</p>
    <p>Cảm ơn bạn đã đăng ký tham dự Đại hội Giới trẻ TGP Sài Gòn ngày 19.11.2022 và hoàn tất thanh toán tiền vé.</p>
    <div>Mời bạn đăng nhập vào trang mua vé để chọn workshop mà bạn muốn tham dự: <a target="_blank" href="{{ link_home }}">{{ link_home }}</a></div>  
    <p>Nếu bạn có thắc mắc về cách nhận vé Đại hội và đăng ký workshop, mời bạn tham khảo hướng dẫn tại <a href="{{ link_guide }}">đây</a>.</p>
    <div>Hẹn gặp bạn Đại hội Giới trẻ TGP Sài Gòn ngày 19.11.2022</div>
    <div>Exodus - Cùng nhau lên đường!</div>
    <div>-----------------------------------</div>
    <div>Mọi thông tin liên hệ xin vui lòng gửi tin nhắn cho BTC theo link: <a target="_blank" href="http://m.me/SG.YouthDay">http://m.me/SG.YouthDay</a></div> 
</body>
</html>