<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Xin chào {{ fullname }},</p>
    <p>Cảm ơn bạn đã đăng ký tham dự đại hội giới trẻ TGP Sài Gòn ngày 19.11.2022 và hoàn tất|thanh toán tiền vé.</p>
    <div>Mời bạn nhấp vào link bên dưới để nhận Đại hội và/hoặc chòn workshop mà bạn muốn tham dự:</div>
    <a href="{{ link_home }}">{{ link_home }}</a>
    <br>
    <p>Nếu bạn có thắc mắc về cách nhận vé Đại hội và đăng ký workshop, mời bạn tham khảo hướng dẫn tại <a href="{{ link_guide }}">đây.</a></p>
    <p>Hẹn gặp bạn vào ngày Đại hội!</p>
    <p>Exodus - Cùng nhau lên đường!</p>
</body>
</html>