<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Chào {{ fullname }},</p>
    <p>Cám ơn bạn đã đăng ký tham dự Đại hội Giới trẻ TGP Sài Gòn năm 2022 với chủ đề: Exodus - cùng nhau lên đường.</p>
    <p>Bạn đừng quên là chúng mình có hẹn với nhau trong tuần này nha:</p>
    <ul>
        <li>Thứ 5, ngày <b>17.11.2022</b>, <span style="color: blue;">18:30 - 19:45</span>: Cầu nguyện với chủ đề “Niềm vui theo Chúa”</li>
        <li>Thứ 6, ngày <b>18.11.2022</b>, <span style="color: blue;">18:30 - 19:45</span>: Cầu nguyện với chủ đề “Con xin phó thác hồn con trong tay Chúa” </li>
        <li>Thứ 7, ngày <b style="color: red;">19.11.2022</b>, <span style="color: blue;">11:30 - 21:00</span>: Chương trình chính thức Đại hội Giới trẻ 2022</li>
    </ul>
    <p><i>Địa điểm:</i> Nhà thờ Đồng Tiến, 54 Đ. Thành Thái, Phường 12, Quận 10, Thành phố Hồ Chí Minh</p>
    <div><i>*Lưu ý: Thứ 5 & Thứ 6: vào cửa tự do</i></div>
    <div><i>Thứ 7: Các bạn check-in ở 2 khu vực:</i></div>
    <div><i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- Vé thường: Cổng 2 (Cổng chính nhà thờ)</i></div>
    <div><i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- Vé Workshop: Cổng 3 (Cổng bảo vệ)</i></div>  
    <p>Địa điểm: Nhà thờ Đồng Tiến, 54 Đ. Thành Thái, Phường 12, Quận 10, Thành phố Hồ Chí Minh</p>
    <p>Khi tham dự đại hội, bạn vui lòng đến đúng giờ, mang theo bình nước cá nhân và một tinh thần nhiệt huyết tràn đầy năng lượng của tuổi trẻ nhé.</p>
    <div>Bạn ơi, </div>
    <div>Nếu bạn đã chuyển khoản nhưng chưa chọn workshop, mời bạn nhấp vào link <a target="_blank" href="{{ home_link }}">{{ home_link }}</a> để đăng nhập và chọn ngay workshop mà mình yêu thích nhé. Chúng mình có đính kèm hình minh hoạ để bạn dễ hình dung.</div>
    <img src="cid:image.png"/>
    <p>Đừng quên cầu nguyện cho Chương trình, cho tất cả các tham dự viên và cho chính bạn nữa nhé.</p>
    <div>Hẹn gặp bạn Đại hội Giới trẻ TGP Sài Gòn năm nay</div>
    <div>Exodus - Cùng nhau lên đường! </div>
    <div>-----------------------------------</div>
    <div>Mọi thông tin liên hệ xin vui lòng gửi tin nhắn cho BTC theo link: <a target="_blank" href="http://m.me/SG.YouthDay">http://m.me/SG.YouthDay</a></div> 
</body>
</html>