{% extends 'users/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/users/css/register.css' %}">
</head>
<body style="background-image: url('/static/images/hero_1.png');">
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5" style="color: #4835d4;">{% trans 'Đăng ký tài khoản' %}</h3>
                        <form class="mx-1 mx-md-4" method="POST" action="{% url 'users:register' %}">
                            {% csrf_token %}
                            <div class="mb-4 pb-2">
                                <div class="form-floating">
                                    {{ form.username }}
                                    <label>{{ form.username.label }}</label>
                                    {% if form.username.errors %}
                                    {% for err in form.username.errors %}
                                    <span class="text-danger">{{ err }}</span>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="mb-4 pb-2">
                                <div class="form-floating">
                                    {{ form.password }}
                                    <label>{{ form.password.label }}</label>
                                    {% if form.password.errors %}
                                    {% for err in form.password.errors %}
                                    <span class="text-danger">{{ err }}</span>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-4 pb-2">
                                <div class="form-floating">
                                    {{ form.confirm_password }}
                                    <label>{{ form.confirm_password.label }}</label>
                                    {% if form.confirm_password.errors %}
                                    {% for err in form.confirm_password.errors %}
                                    <span class="text-danger">{{ err }}</span>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
          
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">                           
                                    <div class="form-floating">
                                        {{ form.last_name }}
                                        <label>{{ form.last_name.label }}</label>
                                        {% if form.last_name.errors %}
                                        {% for err in form.last_name.errors %}
                                        <span class="text-danger">{{ err }}</span>
                                        {% endfor %}
                                        {% endif %}
                                    </div>                           
                                </div>

                                <div class="col-md-6 mb-4 pb-2">                       
                                    <div class="form-floating">
                                        {{ form.first_name }}
                                        <label>{{ form.first_name.label }}</label>
                                        {% if form.first_name.errors %}
                                        {% for err in form.first_name.errors %}
                                        <span class="text-danger">{{ err }}</span>
                                        {% endfor %}
                                        {% endif %}
                                    </div>                   
                                </div>
                            </div>                                       
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="p-5">
                            <h3 class="fw-normal mb-5"></h3>
                            <div class="mb-4 pb-2">
                                <div class="form-floating">
                                  {{ form.email }}
                                  <label >{{ form.email.label }}</label>
                                  {% if form.email.errors %}
                                  {% for err in form.email.errors %}
                                  <span class="text-danger">{{ err }}</span>
                                  {% endfor %}
                                  {% endif %}
                                </div>
                              </div> 
                              
                            <div class="mb-4 pb-2">
                              <div class="form-floating">
                                {{ form.phone_number }}
                                <label>{{ form.phone_number.label}}</label>
                                {% if form.phone_number.errors %}
                                {% for err in form.phone_number.errors %}
                                <span class="text-danger">{{ err }}</span>
                                {% endfor %}
                                {% endif %}
                              </div>
                            </div>
          
                            <div class="mb-4 pb-2">
                              <div class="form-floating">
                                {{ form.birthdate }}
                                <label class="form-label" for="form3Examplea3">{{ form.birthdate.label }}</label>
                                {% if form.birthdate.errors %}
                                {% for err in form.birthdate.errors %}
                                <span class="text-danger">{{ err }}</span>
                                {% endfor %}
                                {% endif %}
                              </div>
                            </div>
               
                            <div class="mb-4 pb-2">
                              <div class="form-floating">
                                {{ form.address }}
                                <label>{{ form.address.label }}</label>
                                {% if form.address.errors %}
                                {% for err in form.address.errors %}
                                <span class="text-danger">{{ err }}</span>
                                {% endfor %}
                                {% endif %}
                              </div>
                            </div>
                
                            <div class="mb-4">
                              <div class="form-floating">
                                {{ form.parish }}
                                <label>{{ form.parish.label }}</label>
                                {% if form.parish.errors %}
                                {% for err in form.parish.errors %}
                                <span class="text-danger">{{ err }}</span>
                                {% endfor %}
                                {% endif %}
                              </div>
                            </div>                    
                            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Đăng ký'%}</button>
                        </form>                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
{% endblock %}