{% extends "users/base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l6">
            <h3>{% trans 'Thông tin cá nhân' %}</h3>
            <form method="POST" action="{% url 'users:user_profile' %}">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                {{ field.label }}
                <div>
                    {{ field }}
                </div>
                {% endfor %}

                {% if form.non_field_errors %}
                    {% for err in form.non_field_errors %}
                        <div class="card-panel red">
                            <span class="white-text">{{ err }}</span>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success'%}
                            <div class="card-panel green">
                                <span class="white-text">{{ message }}</span>
                            </div>
                        {% else %}
                            <div class="card-panel red">
                                <span class="white-text">{{ message }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="waves-effect waves-light btn-small red" type="submit">{% trans 'Lưu' %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}