{% extends "users/base.html" %}
{% load i18n %}
{% block content %}
<h3>{% trans 'Thông tin cá nhân' %}</h3>
    <form method="POST" action="{% url 'users:user_profile' %}">
        {% csrf_token %}        
        {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors|striptags }}           
        </div>
        {% endif %}
        {% if error_message %}
        <div>
            {{ error_message }}
        </div>   
        {% endif %}

        {% for field in form.visible_fields %}
        {{ field.label }}
        <div>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">{% trans 'Lưu' %}</button>
    </form>
{% endblock content %}