{% extends "users/base.html" %}
{% load i18n %}
{% block content %}
<section class="vh-100" style="background-image: url('/static/images/hero_1.png');">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">{% trans 'Xác nhận Email' %}</h3>
                        <form method="POST" action="{% url 'users:verify_email' %}">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success'%}
                                        <span class="text-success">{{ message }}</span>
                                    {% else %}
                                        <span class="text-danger">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                            {% for field in form.visible_fields %}                          
                            <div class="form-floating mb-4"> 
                                {{ field }}
                                <label for="{{ field.name }}">{{ field.label }}</label>  
                                {% if field.errors %}
                                    {% for err  in field.errors %}
                                        <span class="text-danger">{{ err }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-floating mb-4">
                                {% endfor %}                                                         
                            {% if form.non_field_errors %}
                                {% for err in form.non_field_errors %}
                                    <span class="text-danger">{{ err }}</span>
                                {% endfor %}
                            {% endif %}
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans 'Xác nhận'%}</button>                      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}