{% extends "users/base.html" %}
{% block content %}
<h3>Xác nhận Email:</h3>
    <form method="POST" action="{% url 'users:verify_email' %}">
        {% csrf_token %}        
        {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors|striptags }}           
        </div>
        {% endif %}
        {% if error_message %}
        <div>
            {{ error_message }}
        </div>   
        {% endif %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
            {% endfor %}
            </ul>
        {% endif %}

        {% for field in form.visible_fields %}
        {{ field.label }}
        <div>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Xác thực email</button>
    </form>
{% endblock content %}