<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>Xin chào {{ fullname }},</div>
    <div>Cám ơn bạn đã quan tâm đến Đại hội Giới trẻ TGP. Sài Gòn 19/11/2022</div>
    <p>Bạn vui lòng nhấp vào link bên dưới để xác nhận tài khoản:</p>
    <a target="_blank" href="{{ verify_link }}">{{ verify_link }}</a>
    <p style="font-style: oblique;">Lưu ý: Link xác nhận có giá trị sử dụng trong vòng một ngày. Trong trường hợp link xác nhận đã hết hạn, mời bạn vui lòng đăng nhập vào trang <a target="_blank" href="{{ home_link }}">{{ home_link }}</a> để nhận được link mới.</p>
    <p>Hướng dẫn đăng ký mua vé Đại hội sẽ được gửi đến bạn sau khi bạn hoàn thành việc xác nhận Tài khoản đăng ký.</p>
    <br>
    <div>Hẹn gặp bạn Đại hội Giới trẻ TGP Sài Gòn ngày 19.11.2022</div>
    <div>Exodus - Cùng nhau lên đường!</div>
    <div>-----------------------------------</div>
    <div>Mọi thông tin liên hệ xin vui lòng gửi tin nhắn cho BTC theo link: <a target="_blank" href="http://m.me/SG.YouthDay">http://m.me/SG.YouthDay</a></div>   
</body>
</html>