{% extends "ticket/base.html" %}
{% load i18n %}
{% block content %}
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>{% trans 'Hướng dẫn mua vé.' %}</title>
</head>
<body style="font-family: roboto;">
    <div class="container" style="margin-top: 150px;">
        <div class="d-flex align-items-center justify-content-center">
            <h3>Hướng dẫn mua vé Đại Hội Giới Trẻ</h3>   
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <h2>EXODUS - CÙNG NHAU LÊN ĐƯỜNG </h2>      
        </div>
        <br>
        <div>
            <div><strong>I. Đăng ký và kích hoạt tài khoản trên hệ thống:</strong></div>
            <div>Bước 1: Vào Trang Đăng Ký Mua Vé Đại Hội Giới Trẻ <a target="_blank" href="{% url 'users:register' %}">tại đây</a> để tạo tài khoản mua vé.</div>
            <div>Bước 2: Nhập đầy đủ thông tin cần thiết (bạn lưu ý nhập đúng thông tin số điện thoại và địa chỉ email để hệ thống gửi có thể xác minh tài khoản và gửi vé)</div>
            <div>Bước 3: Vào email cá nhân để kiểm tra thư xác minh tài khoản (bạn nhớ kiểm tra trong mục SPAM nữa nhé!)</div>
            <div>Bước 4: Bạn mở thư xác minh và nhấp vào link để kích hoạt tài khoản</div>
            <div><strong>II. Chuyển khoản:</strong></div>
            <span>Có 2 loại vé là:</span>
            <ul>
                <li>Vé Đại hội (không Workshop): 40.000 VNĐ/Vé</li>
                <li>Vé Đại hội kèm Workshop: 70.000 VNĐ/Vé</li>
            </ul>
            <div>Ở bước này, bạn có thể chuyển khoản theo thông tin mà BTC cung cấp để nhận vé tương ứng. (Mỗi tài khoản có thể đăng ký một hoặc nhiều vé, nên các nhóm bạn có thể mua vé cùng nhau nè ^^)</div>
            <br>
            <div>Nội dung chuyển khoản: [tên user] - vé thường [số lượng vé Đại hội ] - WS [số lượng vé có Workshop]</div>
            <div><strong>Ví dụ (đoạn trong ngoặc là giải thích thôi nha bạn ơi): </strong></div>
            <ul>
                <li>NguyenVanA - VeThuong 3 - WS 1 ( bạn muốn mua 3 vé thường và 1 vé workshop)</li>
                <li>TranThiB - VeThuong 0 - WS 3 (bạn chọn mua 3 vé workshop nè)</li>
                <li>PhamVanC - VeThuong 5 - WS 0 (bạn mua 5 vé thường nhé)</li>
            </ul>
            <p>Sau khi nhận được phí, hệ thống sẽ gửi vé Đại hội qua email và cập nhật voucher workshop vào tài khoản đăng ký của bạn chậm nhất trong vòng 24h.</p>
            <p>Đến bước này, nếu bạn chỉ chọn vé thường, nhiệm vụ mua vé hoàn tất rồi đấy. Bạn có thể kiểm tra email, lưu E-ticket về điện thoại để check-in vào ngày đại hội thôi.</p>
            <div>Còn với các bạn mua vé Workshop, bạn sẽ chủ động đăng nhập hệ thống để xuất vé cho chính mình theo hướng dẫn ở mục III nha.</div>
            <div><strong>III. Chọn workshop bạn muốn tham dự:</strong></div>
            <div>Bước 1: Đăng nhập vào tài khoản đã kích hoạt thành công ở mục I</div>
            <div>Bước 2: Chọn chủ đề workshop với số lượng vé tương ứng đã đăng ký</div>
            <div>Bước 3: Sau khi chọn vé hệ thống sẽ gửi e-ticket có mã QR về địa chỉ email đăng ký tài khoản của bạn.</div>
            <div>Như vậy là bạn đã hoàn thành việc đăng ký vé tham dự đại hội giới trẻ EXODUS - CÙNG NHAU LÊN ĐƯỜNG. Bạn nhớ mang theo e-ticket này vào ngày đại hội để check-in nhé!</div>
        </div>  
    </div>
</body>
{% endblock %}