{% extends "ticket/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<head>
    <title>{% trans 'Trang chủ' %}</title>
</head>
<body style="background-image: url('/static/images/hero_1.png');">
    <div class="container" style="margin-top: 150px;"> 
        <div class="text-white">
            <div>Chào bạn,
                Nếu bạn muốn mua vé, mời bạn xem hướng dẫn <a target="_blank" href="https://gioitresaigon.net/huong-dan-mua-ve-dhgt-2022.html">tại đây</a>.
                Vé tham dự đại hội (không workshop) sẽ được gửi đến bạn qua email trong vòng 24 giờ sau khi chúng mình nhận được chuyển khoản.             
                Nếu bạn đã nhận được voucher workshop, mời bạn chọn workshop muốn tham dự ngay bên dưới nhé. 
                </div>
                <div>Thương mến,</div>
                <div>Exodus - Cùng nhau lên đường</div>
        </div>  
        <br>      
        <form id="RegisterForm" method="POST" action="{% url 'ticket:home' %}" onsubmit="SubmitLoader()">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-light table-responsive" style="border-radius: 6px; overflow: hidden; opacity: 0.8;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>WORKSHOP</th>
                            <th>{% trans 'ĐĂNG KÝ' %}</th>
                            <th>{% trans 'ĐÃ CHỌN' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workshop in workshops %}
                        <input type="text" name="id" value="{{ workshop.id }}" readonly hidden>
                        <tr>
                            <td>
                                <img class="img-fluid" src="{{ workshop.icon.url }}" alt="" style="height: 90px; width:90px;">                              
                            </td>
                            <td>
                                {% if workshop.intro_link %}
                                <a href="{{ workshop.intro_link }}" target="_blank">{{ workshop.name }}</a>
                                {% else %}
                                {{ workshop.name }}
                                {% endif %}
                            </td>
                            <td>           
                                <input class="form-control" type="number" name='quantity' value="0" min="0" style="text-align: center; width: 70px;">
                            </td>
                            <td>{{ workshop.registered }}</td>
                        </tr>                       
                        {% endfor %}    
                        <tr>
                            <td colspan="4" class="text-center">
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" id="RegisterButton" type="button" data-bs-toggle="modal" data-bs-target="#ConfirmModal" style="background-color: #1a73e8;">
                                        <span class="spinner-border spinner-border-sm" id="RegisterSpinner" role="status" aria-hidden="true" hidden></span>
                                        {% trans 'Đăng ký' %}
                                    </button>
                                </div>                            
                            </td>
                        </tr>            
                    </tbody>
                </table>
            </div>           
            <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-center border-0">
                            <h5 class="modal-title w-100">{% trans 'Đăng ký Workshop' %}</h5>
                        </div>
                        <div class="modal-body text-center">
                            <div>{% trans 'Tôi xác nhận đăng ký những workshop đã chọn.' %}</div>
                            <div><strong>Lưu ý: </strong>Sau khi xác nhận đăng ký, bạn sẽ không thể chuyển sang workshop khác.</div>
                             
                        </div>
                        <div class="modal-footer justify-content-center border-0">
                            <button class="btn btn-primary" type="submit" data-bs-dismiss="modal" style="background-color: #1a73e8;">{% trans 'Xác nhận' %}</button>
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">{% trans 'Hủy' %}</button>
                        </div>
                    </div>
                </div>
            </div>           
        </form>
    </div>
    
    <div class="toast-container text-center top-0 start-50 translate-middle-x" style="margin-top: 110px;">
        {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success'%}
            <div id="MessageToast" class="toast align-items-center text-white bg-success w-100 border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>
            {% elif message.tags == 'info'%}
            <div id="MessageToast" class="toast align-items-center text-white bg-primary w-100 border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>
            {% elif message.tags == 'warning'%}
            <div id="MessageToast" class="toast align-items-center text-white bg-warning w-100 border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>
            {% elif message.tags == 'error'%}
            <div id="MessageToast" class="toast align-items-center text-white bg-danger w-100 border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    </div>
</body>




<script>
    $(document).ready(function(){
        $("#MessageToast").toast('show');       
    });

    $('#RegisterForm').submit(function (e) {
        e.preventDefault();
        $('#RegisterButton').prop('disabled', true);
        $('#RegisterSpinner').prop('hidden', false);
        //Submit    
        setTimeout(function () {
            $('#RegisterForm')[0].submit();
        }, 1000);
    });
</script>
{% endblock %}