{% extends "ticket/base.html" %}
{% load tz %}
{% block content %}
<form method="POST" action="{% url 'ticket:home' %}">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
    </ul>
    {% endif %}
<table>
    <thead>
        <tr>
            <th>Workshop</th>
            <th>Số vé đã đăng ký</th>
            <th>Số lượng vé tối đa có thể đăng ký</th>
            <th>Số vé đăng ký</th>
            
        </tr>
    </thead>
    <tbody>  
        {% for workshop in workshops %}
        <tr>
            <td>{{ workshop.name }}</td>
            <td>{{ workshop.registered }}</td>
            <td>{{ workshop.available }}</td>
            <td id="{{ workshop.id }}">
                <input type="number" name = 'quantity' value="0" min="0">
            </td>
            <td>
                <input type="text" name ="id" value="{{ workshop.id }}" readonly hidden>      
            </td>
        </tr>
        {% endfor %} 
    </tbody>  
</table>
<button type="submit">Đăng ký</button>
</form>
{% endblock %}

