{% extends "ticket/base.html" %}
{% load tz %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Workshop</th>
            <th>Ngày diễn ra</th>
            <th>Số lượng</th>
            <th>Đã mua</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for workshop in workshops %}
        <tr>
            <td>{{ workshop.name }}</td>
            <td id ="datetime"> {{ workshop.date|date:"d M Y H:i:s O" }} </td>
            <td>{{ workshop.count }}/{{ workshop.slot }}</td>
            <td>{{ workshop.bought }}</td>
            <td>
                <a type="button" href="{% url 'ticket:ticket_detail' workshop.id %}">
                    <button>Tham Gia</button>
                </a>             
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    var workshops_date = document.querySelectorAll('#datetime');
    for( i =0; i< workshops_date.length; i++){
        utc = moment.utc(workshops_date[i].textContent);
        workshops_date[i].textContent = moment(utc).local().format("DD/MM/YYYY HH:mm:ss");
    }
    
</script>
{% endblock %}

