Xin chào {{ name }}, <br>Cảm ơn bạn đã đăng ký tham dự  Đại hội Giới trẻ Mùa Chay TGP Sài Gòn ngày 27.03.2021.<p>' ; //Nội dung email
    body = body + 'BTC gửi đến ' + name + ' thông tin về chương trình như sau:.<p>' ;
    
    body = body + '<h2>I. THÔNG TIN CHƯƠNG TRÌNH: </h2><p>';
    body = body + '1. Đại hội giới trẻ mùa chay năm 2021 với chủ đề: “CHO TIỀM NĂNG TRỖI DẬY”<p>';
    body = body + '2. Thời gian: Ngày 27/03/2021. (Từ 13g30 đến 21g00) <p>';
    body = body + '3. Địa điểm: giáo xứ Tân Phước. Địa chỉ: 245 Nguyễn Thị Nhỏ, Phường 9, Tân Bình, TP.HCM. <p>';
    body = body + '4. Phí tham dự: 60,000/1 người (đã bao gồm phần ăn tối) <p>';
    
    body = body + '<h2>II. PHƯƠNG THỨC THANH TOÁN: </h2><p>';
    body = body + 'Để hoàn tất việc đăng ký, vui lòng thanh toán phí tham dự. Thông tin chuyển khoản như sau: <p>';
    body = body + 'Mã thanh toán của bạn là: <strong><span style="color: #ff0000;">DHGT-' + sBankCode + ' </span></strong>(bạn copy mã này vào phần nội dung thanh toán khi chuyển khoản nhé)<p>' ;
    body = body + 'Tên tài khoản: HUỲNH THANH VÂN <p>';
    body = body + '1. STK Ngân hàng Vietcombank:  025 100 250 9697 (Chi nhánh Bình Tây, HCM) <p>';
    body = body + '2. STK Ngân hàng Sacombank: 0500 53 999 538 (Chi nhánh Lái Thiêu, Bình Dương) <p>';
    body = body + 'Lưu ý: Trong nội dung chuyển khoản xin vui lòng ghi rõ <strong><span style="color: #ff0000;">DHGT-' + sBankCode + '</span></strong><p>';
    body = body + '<i>(Nếu bạn đóng phí cho nhiều người, vui lòng ghi rõ: DHGT-mã thanh toán 1 – mã thanh toán 2 – mã thanh toán 3. Ví dụ: bạn đóng phí cho 3 người tham dự, nội dung chuyển khoản là: DHGT-432hc0up – 346uh8uj – 873uth0i)</i> <p>';
    body = body + 'Vé tham dự sẽ được gửi qua email của bạn chậm nhất là 10:00 ngày 27.03.2021. <p>';
    body = body + 'Mã thanh toán có giá trị đến 9:00 ngày 27.03.2021. Quá thời gian đề cập, mã sẽ tự động huỷ. <p>';
    
    body = body + '-----------------------------------<p>';
    body = body + 'Mọi thông tin liên hệ xin vui lòng gửi tin nhắn cho BTC theo link: http://m.me/SG.YouthDay<p>';
    body = body + 'Hotline: 0933 20 24 27<p>';
    body = body + 'Hẹn gặp lại bạn tại Đại hội Giới trẻ Mùa Chay năm 2021 “CHO TIỀM NĂNG TRỖI DẬY” <p>';